.form_box{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    background-color: white;
    padding: 3rem 5rem;
    width: 15vw;
}
.input_box, .radio_box, .check_box{
    display: flex;
    flex-direction: column;
}

.input_item{
    background-color: white;
    padding: 3px;
}
.selection_box{
    background-color: white;
}
.line{
    background-color: black;
    width: 100%;
    height: 1px;
    margin: 10px 0px;
}
.summary_item{
    display: flex;
    gap: 5px;
}
.summary_item span{
    font-size: 0.9rem;
    color: red;
}